<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacroRail.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacroRail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MacroRail.Settings>
            <setting name="thread_pitch" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="thread_starts" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="steps_mm" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="microsteps" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="gear_ratio" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="max_speed" serializeAs="String">
                <value>100000000</value>
            </setting>
            <setting name="jog_speed" serializeAs="String">
                <value>20000000</value>
            </setting>
        </MacroRail.Settings>
    </applicationSettings>
    <userSettings>
        <MacroRail.Properties.Settings>
            <setting name="thread_pitch" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="thread_starts" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="microsteps" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="gear_ratio" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="steps_mm" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="max_speed" serializeAs="String">
                <value>100000000</value>
            </setting>
            <setting name="jog_speed" serializeAs="String">
                <value>20000000</value>
            </setting>
            <setting name="steps_rev" serializeAs="String">
                <value>200</value>
            </setting>
        </MacroRail.Properties.Settings>
    </userSettings>
</configuration>